@import url(../style.css);

#banner{
    background-image: url('../img/cat_banner.jpg');
    background-size: 100%;
    background-blend-mode: multiply;
    background-color: #1d1e26;
    height: 20vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-grey);
}


h1{
    font-family: 'Great Vibes', cursive;
    font-size: 500%;
    color: whitesmoke;
    user-select: none;
    transition: color 500ms ease-in-out;
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}


#mobile-menu{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 3rem;
    width: 3rem;
    margin: 5%;
    z-index: 4;
    border-radius: 75%;
}

#mobile-menu svg{
    max-width: 2rem;
}


/**************** SMALL SCREEN *************/
@media only screen and (max-width: 600px){
    #mobile-menu{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    #banner{
        height: 10vh;
    }

    h1{
        font-size: 200%;
    }
}
/**************** SMALL SCREEN *************/
