#banner{
    background-image: url('../img/cat.gif');
    background-size: 100% 100%;
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 500%;
    color: #36454F;
}

#mobile-menu{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 5vh;
    width: 10vw;
    margin: 5%;
}

#mobile-menu svg{
    height: 5vh;
    width: 8vw;
}

@media only screen and (max-width: 600px){
    #mobile-menu{
        display: block;
    }
}