#div-filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Arial, sans-serif;
}

#filter{
    list-style-type: none;
    align-items: center;
    width: 100%;
    user-select: none;
}

#uncheck{
    font-family: 'Lora';
    font-size: 12px;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px 15px;
    cursor: pointer;
    border-color: #578B82;
    background-color: #8BC0B7;
    color: #FFFFFA;
    transition: all 0.3s ease;
}
#uncheck:hover{
    transform: translateY(-3px);
    color: #333138;
    border-color: #8BC0B7;
    background-color: #578B82;
}

.checkbox{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-left: 2vh;
}

#label-tag1{
    color: var(--color-tag1);
    text-shadow: #000103 1px 1px;
    font-size: 50%;
}

#label-tag2{
    color: var(--color-tag2);
    text-shadow: #000103 1px 1px; 
    font-size: 50%;   
}

#label-tag3{
    color: var(--color-tag3);
    text-shadow: #000103 1px 1px; 
    font-size: 50%;   
}

#label-tag4{
    color: var(--color-tag4);
    text-shadow: #000103 1px 1px;
    font-size: 50%;    
}

#label-tag5{
    color: var(--color-tag5);
    text-shadow: #000103 1px 1px;
    font-size: 50%;    
}

#label-tag6{
    color: var(--color-tag6);
    text-shadow: #000103 1px 1px;
    font-size: 50%;    
}

#label-tag7{
    color: var(--color-tag7);
    text-shadow: #000103 1px 1px;
    font-size: 50%;    
}

#label-tag8{
    color: var(--color-tag8);
    text-shadow: #000103 1px 1px;
    font-size: 50%;    
}

#label-tag9{
    color: var(--color-tag9);
    text-shadow: #000103 1px 1px;
    font-size: 50%;    
}

#label-tag10{
    color: var(--color-tag10);
    text-shadow: #000103 1px 1px;
    font-size: 50%;    
}

.hidden{
    transform: translateY(-100vh);
    opacity: 0;
    z-index: -1;
    transition: all, 0.5s ease-out;
}

/*************** LARGE SCREEN *************/
@media only screen and (min-width: 600px){
    #filter{
        display: flex;
        flex-wrap: wrap;
    }
}
/*************** LARGE SCREEN *************/


/*************** SMALL SCREEN *************/
@media only screen and (max-width: 600px){
    #filter{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/*************** SMALL SCREEN *************/