#navbar{
    position: fixed;
    transition: transform 0.5s ease;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    z-index: 1;
    max-width: 10rem;
    margin-top: 10vh;
}


.nav-item{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-radius: 50px;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #514438;
    border-radius: 12px;
}  

.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #B8A99A;
    font-size: 80%;
}

#box_profile{
    width: 41px;
    height: 41px;
    border: 1px solid black;
    margin: 1rem;
}

#box_profile img{
    width: 100%;
    height: 100%;
}

.link-text{
    display: none;
}


/**************** LARGE SCREEN *************/
@media only screen and (min-width: 600px){

    .nav-link svg{
        filter: invert(77%) sepia(21%) saturate(222%) hue-rotate(349deg) brightness(86%) contrast(87%);
        min-width: 2rem;
        margin: 1rem;
    }

    .icon{
        min-width: 2rem;
        margin: 1rem;
    }

    .nav-item:hover{
        background-color: grey;
    }
}
/*************** LARGE SCREEN *************/



/**************** SMALL SCREEN *************/

@media only screen and (max-width: 600px){
    #navbar{
        transform: translateX(-100%);
        z-index: 4;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        max-width: 100vw;
        margin-top: 0;
    }

    .nav-link p{
        display: none;
    }


    .nav-link svg{
        min-width: 3rem;
        margin-top: 3rem;   
        margin-right: 2rem;
    }

    .nav-link img{
        min-width: 3rem;
        margin-top: 3rem;
        margin-right: 2rem;
    }

    .nav-item{
        width: 20%;
    }

    .navbar-nav{
        margin-left: 0;
        border-radius: 0;
        background-color:rgba(184,169,154, 0.5);
    }
}

/**************** SMALL SCREEN *************/
