#navbar{
    position: fixed;
    transition: transform 0.5s ease;
}

.nav-item{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}  

.nav-link{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(338deg) brightness(103%) contrast(104%);    
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link img{
    max-width: 20%;
}

.link-text{
    display: none;
}



/**************** LARGE SCREEN *************/
@media only screen and (min-width: 600px){
    #navbar{
        margin-left: 1rem;
    }

    .nav-link svg{
        min-width: 2rem;
        margin: 1rem;
    }
}
/*************** LARGE SCREEN *************/



/**************** SMALL SCREEN *************/

@media only screen and (max-width: 600px){
    #navbar{
        transform: translateX(-100%);
        z-index: 2;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
    }

    .nav-link p{
        display: none;
    }


    .nav-link svg{
        min-width: 3rem;
        margin-top: 3rem;
        margin-right: 2rem;
    }

    .nav-item{
        width: 20%;
    }
}

/**************** SMALL SCREEN *************/
