/************************************* SCROLLING ************************/
#post{
    position: absolute;
    overflow-y: auto;
    top: 25vh;
    bottom: 0vh;
    width: 100%;
    z-index: 1;
}

#post::-webkit-scrollbar{
    display: none;
}

#alert{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

#alert-border{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;    
}

#close-alert{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-alert:hover,
#close-alert:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/************************************* SCROLLING ************************/

.remove{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.remove-border{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;    
}

.remove-border button{
    padding: 2vh 2vh;
    margin: 2%;
    cursor: pointer;
    border: 2px solid green;
    background-color: aqua;

}

.tag{
    overflow: hidden;
    margin: 2vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.remove-button{
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    background-color: #95C3CF;
    font-family: 'Monocraft', cursive;
    cursor: pointer;
    float: right;
}

.tag[data-value="tag1"] h2{
    color: var(--color-tag1);
}

.tag[data-value="tag2"] h2{
    color: var(--color-tag2);
}

.tag[data-value="tag3"] h2{
    color: var(--color-tag3);
}

/**************** LARGE SCREEN *************/
@media only screen and (min-width: 600px){
    #post{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/**************** LARGE SCREEN *************/