/************************************* SCROLLING ************************/
#post{
    position: absolute;
    overflow-y: auto;
    top: 28vh;
    bottom: 0vh;
    width: 100%;
    z-index: 1;
}

#post::-webkit-scrollbar{
    display: none;
}

#alert{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

#alert-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;    
}

#alert-border div{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr  1fr;
}

#alert-border button{
    background-color: #fefefe;
    transition: background-color, 0.5s;
}

#alert-border button:hover{
    background-color: #888;
}

/************************************* SCROLLING ************************/


/************************************* REMOVE ************************/

.remove{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.remove-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.confirm-button{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr  1fr;
}

.yes{
    background-color: #EE4B2B;
    transition: background-color, 0.5s;
}

.yes:hover{
    background-color: #880808;
    color: white;
}

.no{
    background-color: #50C878;
    transition: background-color, 0.5s;
}

.no:hover{
    background-color: #355E3B;
    color: white;
}


/************************************* REMOVE ************************/


.tag{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 75%;
    background: linear-gradient(180deg, rgba(29,30,38,1) 10%, rgba(23,23,26,1) 100%);
}

.div-post_pic{
    display: flex;
    justify-content: center;
}

.remove-button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #6e2545;
    font-family: 'Lora';
    cursor: pointer;
}

.tag h2{
    color: var(--color-title);
    text-align: center;
    font-size: 3rem;
}

.post_pic{
    max-width: 28rem;
    max-height: 24rem;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.profile_pic{
    max-width: 2rem;
    max-height: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.tag a{
    font-family: 'Lora';
    color: #ddddde;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.tag h4{
    font-style: italic;
    font-weight: 200;
    margin: 10px;
    margin-left: 0;
}

.meow_content{
    color: whitesmoke;
}

.meow_time{
    margin-top: auto;
    font-style: italic;
    color: rgb(113, 118, 123);
}


.tag[data-value="tag1"] h4{
    color: var(--color-tag1);
}

.tag[data-value="tag2"] h4{
    color: var(--color-tag2);
}

.tag[data-value="tag3"] h4{
    color: var(--color-tag3);
}

.tag[data-value="tag4"] h4{
    color: var(--color-tag4);
}

.tag[data-value="tag5"] h4{
    color: var(--color-tag5);
}

.tag[data-value="tag6"] h4{
    color: var(--color-tag6);
}

.tag[data-value="tag7"] h4{
    color: var(--color-tag7);
}

.tag[data-value="tag8"] h4{
    color: var(--color-tag8);
}

.tag[data-value="tag9"] h4{
    color: var(--color-tag9);
}

.tag[data-value="tag10"] h4{
    color: var(--color-tag10);
}