/************************************* SCROLLING ************************/
#post{
    position: absolute;
    overflow-y: auto;
    top: 28vh;
    bottom: 0vh;
    width: 100%;
    z-index: 1;
}

#post::-webkit-scrollbar{
    display: none;
}

#alert{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

#alert-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;    
}

#alert-border div{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr  1fr;
}

#alert-border button{
    background-color: #fefefe;
    transition: background-color, 0.5s;
}

#alert-border button:hover{
    background-color: #888;
}

/************************************* SCROLLING ************************/


/************************************* REMOVE ************************/

.remove{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.remove-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.confirm-button{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr  1fr;
}

.yes{
    background-color: #EE4B2B;
    transition: background-color, 0.5s;
}

.yes:hover{
    background-color: #880808;
    color: white;
}

.no{
    background-color: #50C878;
    transition: background-color, 0.5s;
}

.no:hover{
    background-color: #355E3B;
    color: white;
}


/************************************* REMOVE ************************/


.tag{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 75%;
    background: #34343A;
}

.div-post_pic{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.top-post{
    display: flex;
    justify-content: space-between;
}



.info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.remove-button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: var(--color-title);
    font-family: 'Lora';
    cursor: pointer;
}


.post_pic{
    max-width: 28rem;
    max-height: 24rem;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.profile_pic{
    max-width: 2rem;
    max-height: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.tag a{
    font-family: 'Lora';
    color: #ddddde;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.tag h4{
    font-style: italic;
    font-weight: 200;
    margin: 10px;
    margin-left: 0;
}

.meow_content{
    color: whitesmoke;
}

.meow_time{
    font-style: italic;
    color: rgb(113, 118, 123);
}

.tag[data-value="#gaming"]{
    border-left: 3px solid var(--color-tag1);
}

.tag[data-value="#gaming"] h4{
    color: var(--color-tag1);
}

.tag[data-value="#politics"]{
    border-left: 3px solid var(--color-tag2);
}

.tag[data-value="#politics"] h4{
    color: var(--color-tag2);
}

.tag[data-value="#cat"]{
    border-left: 3px solid var(--color-tag3);
}


.tag[data-value="#cat"] h4{
    color: var(--color-tag3);
}

.tag[data-value="#meme"]{
    border-left: 3px solid var(--color-tag4);
}


.tag[data-value="#meme"] h4{
    color: var(--color-tag4);
}

.tag[data-value="#technology"]{
    border-left: 3px solid var(--color-tag5);
}

.tag[data-value="#technology"] h4{
    color: var(--color-tag5);
}

.tag[data-value="#entertainment"]{
    border-left: 3px solid var(--color-tag6);
}

.tag[data-value="#entertainment"] h4{
    color: var(--color-tag6);
}

.tag[data-value="#food"]{
    border-left: 3px solid var(--color-tag7);
}

.tag[data-value="#food"] h4{
    color: var(--color-tag7);
}

.tag[data-value="#school"]{
    border-left: 3px solid var(--color-tag8);
}


.tag[data-value="#school"] h4{
    color: var(--color-tag8);
}

.tag[data-value="#anime"]{
    border-left: 3px solid var(--color-tag9);
}


.tag[data-value="#anime"] h4{
    color: var(--color-tag9);
}

.tag[data-value="#music"]{
    border-left: 3px solid var(--color-tag10);
}


.tag[data-value="#music"] h4{
    color: var(--color-tag10);
}

/**************** SMALL SCREEN *************/
@media only screen and (max-width: 600px){
    #post{    
        top: 20vh;
        bottom: 15vh;
    }

    .tag{
        width: 75%;
    }
    .tag h2{
        font-size: 2rem;
    }
    .tag h4{
        font-size: smaller;
    }

    .meow_time{
        font-size: smaller;
    }
}
/**************** SMALL SCREEN *************/
