#searchbar-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 1vh;
    margin-left: 5%;
    margin-right: 5%;
}

#searchbar-text{
    background-color: rgba(204,201,207, 0.1);
    color: white;
    border-style: none;
    border-bottom: 1px solid #ccc9cf;
    outline: none;
    width: 50%;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 5px;
    padding-right: 5px;
}

#searchbutton{
    padding: 0.6rem;
    border: none;
    border-bottom: 1px solid #ccc9cf;
    background-color: rgba(204,201,207, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    border-top-right-radius: 10px;
}

#searchicon{
    padding: 0.6rem;
    border: none;
    border-bottom: 1px solid #ccc9cf;
    color: white;
    background-color: rgba(204,201,207, 0.1);
    border-top-left-radius: 10px;
}

#searchbutton:hover{
    color: white;
}

@media only screen and (min-width:1025px){
    #searchicon{
        padding: 0.55rem;
    }
}