@import url(css/navbar.css);
@import url(css/banner.css);
@import url(css/filter.css);
@import url(css/modal.css);
@import url(css/post.css);

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color-bg);
    font-family: 'Lora';
}

/*space for navbar*/
main,footer{
    margin-left: 10rem;
    min-width: 0;
}
/*space for navbar*/

#main_content{
    height: 100vh;
    width: 100%;
    position: relative;
}

#global{
    display:grid;
    grid-template-columns: 75% 25%;
}
/**************** SMALL SCREEN *************/

@media only screen and (max-width: 600px){
    main,footer{
        margin: 0;
    }

    #main_content{
        width: 100vw;
    }
}
/**************** SMALL SCREEN *************/

/**************** VARIABLES *************/

:root{
    --color-tag1:#9e0142;
    --color-tag2:#d53e4f;
    --color-tag3:#f46d43;
    --color-tag4:#fdae61;
    --color-tag5:#fee08b;
    --color-tag6:#e6f598;
    --color-tag7:#abdda4;
    --color-tag8:#66c2a5;
    --color-tag9:#3288bd;
    --color-tag10:#5e4fa2;

    --color-bg: #CEB195;
}

/**************** VARIABLES *************/
