@import url(component/navbar.css);
@import url(component/banner.css);


body{
    background-color: #4E3758;
}

*{
    margin: 0;
    padding: 0;
}

main,footer{
    margin-left: 5rem;
}

.bootstrap-sign-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35vh;
}

.col-12{
    display: flex;
    justify-content: center;
    padding: 5%;
}


