@import url(css/navbar.css);
@import url(css/banner.css);
@import url(css/filter.css);
@import url(css/modal.css);
@import url(css/post.css);

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color-bg);
    font-family: 'Monocraft', cursive;
}

/*space for navbar*/
main,footer{
    margin-left: 10rem;
    min-width: 0;
}
/*space for navbar*/

#main_content{
    height: 100vh;
    width: 100%;
    position: relative;
}

#global{
    display:grid;
    grid-template-columns: 75% 25%;
}
/**************** SMALL SCREEN *************/

@media only screen and (max-width: 600px){
    main,footer{
        margin: 0;
    }

    #main_content{
        width: 100vw;
    }
}
/**************** SMALL SCREEN *************/

/**************** VARIABLES *************/

:root{
    --color-tag1:#FF312E;
    --color-tag2:#6699CC;
    --color-tag3:#FFB627;
    --color-bg: #CEB195;
}

/**************** VARIABLES *************/

p{
    color: white;
}