@import url(component/navbar.css);
@import url(component/banner.css);
@import url(component/filter.css);
@import url(component/modal.css);
@import url(component/post.css);

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #4E3758;
}

/*space for navbar and trend*/
main,footer{
    margin-left: 5rem;
    margin-right: 5rem;
}
/*space for navbar and trend*/

#main_content{
    height: 100vh;
    width: 100%;
    position: relative;
}

#global{
    display:flex;
}
/**************** SMALL SCREEN *************/

@media only screen and (max-width: 600px){
    main,footer{
        margin: 0;
    }

    #main_content{
        width: 100vw;
    }
}
/**************** SMALL SCREEN *************/
