@import url(css/navbar.css);
@import url(css/banner.css);


body{
    background-color: var(--color-bg);
}

*{
    margin: 0;
    padding: 0;
}

main,footer{
    margin-left: 5rem;
}

.bootstrap-sign-in{
    padding-top: 0vh !important;
}

:root{
    --color-tag1:#FF312E;
    --color-tag2:#6699CC;
    --color-tag3:#FFB627;
    --color-bg: #ceb195;
}

p{
    margin-bottom: 0;
}

.navbar-nav{
    --bs-nav-link-padding-y: 0;
}